<table>
  <tbody>
  <tr>
    <th>Enable fast wiki diff feature</th>
    <td>
      <%= check_box_tag "settings[enabled_fast_history]", '1', Setting.plugin_redmine_wiki_fast_history["enabled_fast_history"] %>
    </td>
  </tr>
  </tbody>
</table>
